<section>
    <div id="bg">
        <video #bgVideo poster="/assets/GC.png">
            <source src="/assets/GC.mp4" type="video/mp4">
        </video>
        <div id="bg-overlay"></div>
    </div>
    <div id="inner">
        <div id="header">
            <ng-container *ngIf="client.head.hasImg; else elseTemplate">
                <img [src]="client.head.content">
            </ng-container>
            <ng-template #elseTemplate>
                <h1>{{client.head.content}}</h1>
            </ng-template>
        </div>
        <div id="subtitle">
            <h2>{{client.subhead.content}}</h2>
        </div>
        <h4 id="tos">I agree to the <a [routerLink]="'/tos'">TOS</a><input [(ngModel)]="TOS" type="checkbox" /></h4>
        <a id="pager" [routerLink]="[ '/record']" [style.pointer-events]="TOS ?'auto':'none'">&or;</a>
    </div>
</section>