section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
mat-sidenav-content {
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
}
#vid {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    // z-index: -1;
}
app-client-question {
    flex-shrink: 0;
    // flex: 4;
    z-index: 100;
    flex-grow: 8;
}
.overlayQ {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 200px;
    height: 200px;
    z-index: 20;
}
%overSettings {
    #vid {
        div {
            width: 100%;
            height: 100%;
            div {
                height: auto;
                video {
                    // flex: 1;
                    // display: none;
                    flex-shrink: 0;
                }
            }
        }
    }
    .starter {
        top: 3vw;
        .mat-fab {
            // right: 95vw;
            margin-right: 52vw;
        }
    }
    .sender > .mat-fab {
        margin-right: 52vw;
        // right: 95vw;
    }
}
.videoOver {
    @extend %overSettings;
    #vid {
        div {
            div {
                .vjs-control-bar {
                    background-color: transparent;
                    margin-top: 40vh;
                    // min-width: 25px;
                    // height: 100%;
                    position: inherit;
                    color: black;
                    flex-direction: column;
                    flex-grow: 1;
                    // flex: auto;
                    // flex-grow: 1;
                    // .vjs-play-control {
                    //     display: none;
                    // }
                    .vjs-play-control {
                        margin-right: 78vw;
                    }
                }
            }
        }
    }
}
.mobileOver {
    @extend %overSettings;
    @extend .videoOver;
    .starter {
        top: 3vw;
        .mat-fab {
            margin-right: 3vw;
        }
    }
    .sender > .mat-fab {
        margin-right: 3vw;
    }
    .vjs-play-control {
        margin-right: 3vw !important;
    }
    .vjs-control-bar {
        color: white !important;
    }
    %times {
        position: absolute;
        width: auto !important;
        top: 5pt;
    }
    .vjs-current-time {
        @extend %times;
        right: 70pt !important;
    }
    .vjs-time-divider {
        @extend %times;
        right: 50pt !important;
    }
    .vjs-duration {
        @extend %times;
        right: 5pt !important;
    }
}
.width-100 {
    width: 100%;
}
.spinner {
    position: absolute;
    top: 50vh;
    right: 50vw;
    transform: translate(-50%, -50%);
    width: 100px;
    p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}
.starter {
    display: none;
    position: absolute;
    top: 50vh;
    right: 50%;
    transform: translate(50%, -50%);
    transition: right 500ms;
}
.sender {
    // display: none;
    position: absolute;
    top: 9vw;
    right: -30vw;
    transform: translate(-50%);
    transition: right 500ms;
}

/* change player background color */
// .video-js video {
//   background-color: #42f489;
//   background-color: blue;
// }
$a: 100%;
.vjs-fluid,
.vjs-tech {
    padding-top: 0 !important;
}
#video_1 {
    height: 100%;
    // flex-grow: 1;
    margin: 0;
    // width: auto !important;
    width: 100%;
    // width: inherit;
    display: flex;
    flex-direction: row-reverse;
}
video.vjs-tech {
    position: relative;
    // z-index: -2;
    // height: calc(#{$a} - 200px); // !important;
    // width: auto !important;
    // width: auto !important;
    // max-width: 100%;
    // max-height: 100%;
    // width: 100%;
    // width: 100% !important;
    // height: 100%;
    flex-shrink: 0;
    height: 100vh;
    width: auto;
    // flex-grow: 1;
    right: 0;
}
.vjs-device-button {
    display: none;
    // z-index: 100;
    position: absolute !important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    // background-color: red !important;
    width: 100px !important;
    height: 100px !important;
    border: none;
    cursor: pointer;
}
.vjs-poster,
.vjs-progress-control,
.vjs-playback-rate,
.vjs-text-track-display,
.vjs-chapters-button,
.vjs-descriptions-button,
.vjs-subs-caps-button,
.vjs-modal-dialog,
.vjs-audio-button,
.vjs-seek-to-live-control,
.vjs-animation-display,
.vjs-record-canvas {
    display: none;
}
.vjs-hidden {
    display: none;
}
.vjs-camera-button {
    display: none;
}
.vjs-loading-spinner {
    display: none;
}
.vjs-big-play-button {
    position: absolute;
    top: 200px;
    left: 200px;
}
.vjs-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.vjs-control-text {
    display: none;
}
.vjs-time-control {
    text-align: center;
}
.vjs-control-bar {
    // z-index: -1;
    // display: none !important;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: #00000009;
    color: white;
    .vjs-current-time {
        display: inline;
        flex: 2;
        // padding: 10px 0;
    }
    .vjs-time-divider {
        flex: 1;
        // padding: 10px 0;
    }
    .vjs-duration {
        flex: 2;
        display: inline;
        // padding: 10px 0;
    }
    .vjs-play-control {
        display: block !important;
        position: fixed;
        order: 0;
        flex: 5;
        background-color: transparent;
        height: 60px;
        width: 60px;
        bottom: 9vw;
        right: -30vw;
        transform: translate(-50%, -50%);
        transition: right 500ms;
        // padding: 10px 0;
        div {
            height: inherit;
            width: inherit;
            // transform: translate(-50%, -50%);
            .mat-icon {
                height: inherit;
                width: inherit;
                font-size: 48pt;
            }
        }
    }
    .vjs-record-button {
        display: none;
        // position: absolute;
        // top: 0;
        right: 50px;
        z-index: 110;
        // margin: 10px 35% 10px 25%;
        cursor: pointer;
        order: 2;
        // position: absolute;
        // bottom: 50vh;
        // left: 50%;
        // font-size: 50px;
        // flex: 5;
        background-color: transparent;
        div > .mat-icon {
            // height: 50px;
            // width: 50px;
            color: red;
            font-size: 40pt;
        }
    }
    .vjs-fullscreen-control {
        position: absolute;
        top: calc(100vh - 50px);
        right: 50px;
        // transform: translateY(-100%);
        // flex: 1.5;
        // right: 20px;
        // margin: 10px 5%;
        // bottom: 0;
        // order: 3;
        // background-color: transparent;
        // align-self: flex-end;
    }
}
.vjs-record-indicator {
    display: none;
    content: 'RECORD';
    height: 50px;
    width: 50px;
    background-color: red;
}
.vjs-record-indicator.vjs-hidden {
    display: none;
}
