<div id="outer">

    <h2 class="display-2">Topic 1</h2>
    <mat-divider></mat-divider>
    <section cdkDropList>
        <mat-card>
            <!-- <mat-card-header> -->
                <mat-card-title>{{(client | async)?.name}}</mat-card-title>
                <mat-card-subtitle>Client Details</mat-card-subtitle>
            <!-- </mat-card-header> -->
                <mat-card-content>
                    <p *ngFor="let con of contact | async">{{con}}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <a mat-button rout [href]="'/client/' +  getClient()">Client</a>
                </mat-card-actions>
            <!-- <mat-card-footer>Footer</mat-card-footer> -->
            <!-- <mat-card-actions align="end">
                <button mat-button>Test</button>
            </mat-card-actions> -->
        </mat-card>
    </section>

    <h2 class="display-2">Starred</h2>
    <mat-divider></mat-divider>
    <!-- <section cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let star of (client | async)?.starred" style="width: 100%">
            <ng-container [ngTemplateOutlet]='star.type ? campaignTemplate : noteTemplate'
            [ngTemplateOutletContext]="{campaign: star.details}">
            </ng-container>
        </div>
        <ng-template #noteTemplate let-note="campaign">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{note.name}}</mat-card-title>
                    <mat-card-subtitle>Note</mat-card-subtitle>
                </mat-card-header>
                <form>
                    <mat-form-field class="noPad" *ngFor="let n of note.details; index as i"  [class]="'level' + n.level">
                        <input matInput [(value)]="n.note"  (keyup.enter)="addNote(note, n.level)"
                        (keyup.backspace)="delNote(note, i)"
                        (keyup.control.arrowleft)="downLevel(n)" (keyup.control.arrowright)="upLevel(n)"/>
                        <span matPrefix *ngIf="n.level < 3; else bulletTemplate" >
                            &nbsp;&nbsp;&nbsp;
                        </span>
                        <ng-template #bulletTemplate>
                            <span matPrefix>
                                {{n.level < 5 ? n.level === 3 ? '&bull;&nbsp;&nbsp;' :
                                '&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' :
                                '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'}}
                            </span>
                        </ng-template>
                    </mat-form-field>
                </form>
            </mat-card>
        </ng-template>
    </section> -->


    <h2 class="display-2">Campaigns</h2>
    <mat-divider></mat-divider>
    <section cdkDropList>
        <div *ngFor="let camp of campaigns | async" cdkDrag style="width: 100%">
            <ng-container [ngTemplateOutlet]='campaignTemplate'
                [ngTemplateOutletContext]="{campaign: camp}">
            </ng-container>
        </div>
    </section>
    <ng-template #campaignTemplate let-campaign="campaign">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{campaign.name}}</mat-card-title>
                <mat-card-subtitle>Campaign <br>
                    <a [href]="campaign.link">Visit</a>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ng-container [ngTemplateOutlet]='!campaign.head.hasImg ? txtTemplate : imgTemplate'
                    [ngTemplateOutletContext]="{content: campaign.head.content, disp: 'title'}">
                </ng-container>
                <ng-container [ngTemplateOutlet]='!campaign.subhead.hasImg ? txtTemplate : imgTemplate'
                    [ngTemplateOutletContext]="{content: campaign.subhead.content, disp: 'h1'}">
                </ng-container>
                <ng-template #txtTemplate let-content="content" let-disp="disp">
                    <h2 [class]="'mat-'+disp">{{content}}</h2>
                </ng-template>
                <ng-template #imgTemplate let-content="content">
                    <img [src]="content">
                </ng-template>
                <b>Background </b>
                {{campaign.background.type > contentType.color ?
                    campaign.background.type === contentType.video ? 'Video' : 'Image' : 'Color'}}
                <section>
                    <mat-action-list>
                        <ng-container *ngFor="let question of campaign.questions">
                            <button mat-list-item>{{question.text}}</button>
                            <mat-divider></mat-divider>
                        </ng-container>
                    </mat-action-list>
                </section>
                <section>
                    <h2>Response Info here</h2>
                </section>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-button (click)="toggle(campaign)">Edit</button>
                <button mat-button>Test</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
    <button mat-button>Add</button>
</div>