#outer {
    padding: 20px;
}
.level0 {
    font-size: 18pt;
}
.level1 {
    font-size: 14pt;
}
.level2 {
    font-size: 12pt;
}
.level3 {
    font-size: 12pt;
}
.level4 {
    font-size: 12pt;
}
.level5 {
    font-size: 12pt;
}
section, mat-expansion-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
mat-card {
    flex: 1;
    min-width: 300px;
    margin: 25px;
}
article {
    flex: 1;
}