<!-- <button mat-mini-fab (click)="sidnav.toggle()">Toggle drawer</button>
<mat-sidenav #sidnav mode="push">
    <app-sidenav class="mat-typography"></app-sidenav>
</mat-sidenav>
<mat-sidenav-content>
</mat-sidenav-content> -->
<mat-toolbar color="primary">
    <h1 (click)="toggle()">ADMIN</h1>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #campaign mode="side" position="end" [opened]="opened">
        <app-dash-details [campaign]="details | async" (close)="campaign.close()"></app-dash-details>
    </mat-drawer>
    <mat-drawer-content>
        <app-campaign (details)="showDetails($event)" class="mat-typography"></app-campaign>
    </mat-drawer-content>
</mat-drawer-container>