<h1 mat-dialog-title>{{ data.updating ? 'Update your recording' : 'Before we begin...'}}</h1>
<div mat-dialog-content>
    <form>
    <h4>{{ data.updating ? 'Your details' : 'Tell us about yourself' }}</h4>
    <app-dynamic-form #userForm [questions]="data.userQuestions" (submit)="sendDevices()"></app-dynamic-form>
    <h4>And your desired topic</h4>
    <mat-select #questionForm placeholder="Topics" [value]="data.questionChosen">
        <mat-option *ngFor="let question of data.questions; index as i" [value]="i">
            {{question.text}}
        </mat-option>
    </mat-select>
        <mat-expansion-panel *ngIf="extraQuestions"  [expanded]="openExtra">
            <mat-expansion-panel-header>
                Extra Details
            </mat-expansion-panel-header>
            <app-dynamic-form #extraForm [questions]="extraQuestions" (submit)="sendDevices()"></app-dynamic-form>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Devices
            </mat-expansion-panel-header>
            <mat-button-toggle-group #videoToggle="matButtonToggleGroup" [vertical]="true">
                <mat-button-toggle *ngFor="let video of videoDevices; index as i" [value]="video.deviceId" [checked]="i == 0">
                    {{video.label}}
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #audioToggle="matButtonToggleGroup" vertical="true">
                <mat-button-toggle *ngFor="let audio of audioDevices; index as i" [value]="audio.deviceId" [checked]="i == 0">
                    {{audio.label}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-expansion-panel>
    </form>
</div>
<div mat-dialog-actions align="end">
    <!-- <button mat-button (click)="goClick()">Go</button> -->
    <button mat-button [mat-dialog-close]="sendDevices()" cdkFocusInitial [disabled]="isDisabled">Start Recording</button>
</div>